.background {
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.button {
    -fx-border-color: #e2e2e2;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
}

.combo-box {
    -fx-border-color: #e2e2e2;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
